*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #060022;
}

.website{
    
    margin: 0px auto;
    width: 1600px;
    padding-top: 125px;
    height: 900px;
    background:linear-gradient(to right bottom, #7941EB, #EA2C5F);
   
}
.main{
    width: 900px;
    height: 650px;
    background-color: white;
    border-radius: 6px;
    margin-left: 350px;
    
}
.img{
    width: 200px;
    height: 200px;
    
    background-image: url();
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 6px solid rgba(148,130,232,0.7);
    box-shadow: 0 0 30px rgb(148,130,232);
    position: relative;
    bottom: 100px;
    left: 350px;
}
.div1{
    text-align: center;
    width: 400px;
    height: 100px;
    margin: -50px auto;
    
}
.div1 h1{
    color: rgb(148,130,232);
}
.div1 h3{
    margin-left: 8px;
    font-weight: 600;
    display: inline-block;
}

.info {
    
    width: 800px;
    height: 120px;
    margin: 50px auto;
}


.info ul {
    list-style: none;
}
.info ul li{
    padding-top: 30px;
    text-align: center;
    float: left;
    
    width: 199px;
    height: 120px;
}
.social{
    
    height: 100px;
    margin-left: 100px;
    width: 800px;
}
.social i {
    font-size: 30px;
    margin-left: 30px;
    background-color: white;
    border-radius: 50%;
    
    padding: 25px;
  }
  
  .buttons{
      
      margin: 6px auto;
      width: fit-content;
  }
 
  .buttons button{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    border-style: none;
    padding: 12px 60px;
      background: linear-gradient(to left bottom, #3b5998, #1DA1F2);
  }
  .buttons .button2{
      
      margin-left: 10px;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    border-style: none;
    padding: 12px 60px;
      background: linear-gradient(to left bottom, #e4411d, #971c0b);
  }

  .vazifa{
      position: relative;
      top: -650px;
      right: 100px;
      float: right;
  }
  .vazifa ul {
      list-style: none;


  }
  .vazifa ul li{
      height: 50px;
      width: 120px;

  }

  .vazifa ul li a{
      display: block;
      height: 50px;
      width: 120px;
      background-color: black;
      color: wheat;
      text-decoration: none;
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      transition: all 0.1s;
  }
  .vazifa ul li a:hover{
      color: black;
      background-color: wheat;
  }
.website{
    animation: anim1 2s ease-in-out;
}
  @keyframes anim1
  {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }


  }